@using CashFlow.Web.Security
@inherits LayoutComponentBase
@inject ICurrentUser CurrentUser
@inject NavigationManager Nav
@* Required *@
<MudThemeProvider />
<MudPopoverProvider />
@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Color="Color.Dark" Elevation="1" Fixed="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Primary" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        CashFlow
        <MudSpacer />
        @if (CurrentUser.IsAuthenticated)
        {
            <MudMenu Color="Color.Primary"
                     AriaLabel="Open user menu">
                <ActivatorContent>
                    <MudAvatar Color="Color.Primary" Variant="Variant.Outlined">@CurrentUser.Avatar</MudAvatar>
                </ActivatorContent>
                <ChildContent>
                    <MudMenuItem Icon="@Icons.Material.Filled.VerifiedUser" Label="Profile" />
                    <MudMenuItem OnClick="()=> OnAccountView()" Icon="@Icons.Material.Filled.AccountCircle" Label="My accounts" />
                    <MudMenuItem OnClick="() => OnLogout()" Icon="@Icons.Material.Filled.Logout" Label="Logout" />
                </ChildContent>
            </MudMenu>

        }
        else
        {
            <MudIconButton Icon="@Icons.Custom.Brands.Microsoft" Color="Color.Inherit" />
        }
    </MudAppBar>
    <MudDrawer Elevation="1" @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" Breakpoint="Breakpoint.None">
        @* <MudDrawerHeader>
            <MudText Typo="Typo.h6">My App</MudText>
        </MudDrawerHeader> *@
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium" Class="mt-5">
            @Body
        </MudContainer>
    </MudMainContent>
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</MudLayout>


@code
{
    private bool _drawerOpen = false;

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
    private void OnAccountView()
    {
        Nav.NavigateTo("/accounts");
    }
    private void OnLogout()
    {
        Nav.NavigateTo("/logout", true);
    }
}