@page "/cash-transaction"
@using CashFlow.Web.Components.Pages.CashTransaction.Actions
@using System.Globalization
@using CashFlow.Web.Formatting
@using CashFlow.Web.Security
@rendermode InteractiveServer
@inject ICashTransactionService _transactionService
@inject IDialogService DialogService
@inject ICurrentUser CurrentUser
@attribute [Authorize]
<h3>Transactions</h3>
<h6><i>List of Transactions Incoming/Expense</i></h6>
<MudButton OnClick="OpenAddDialog" Variant="Variant.Filled" Color="Color.Success" Class="mb-2" Size="Size.Medium" StartIcon="@Icons.Material.Filled.Add">Add Transaction</MudButton>
<MudDataGrid T="GetCashTransactionDto" Items="@_transactions"  Filterable="true"
             Hideable="true" Loading="_loading" >
    <NoRecordsContent>
        <MudText Typo="Typo.subtitle1" Align="Align.Center">
            No transactions found
        </MudText>
    </NoRecordsContent>
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="ID" Sortable="false" Filterable="false" />
        <PropertyColumn Property="x => x.Name" />
        <PropertyColumn Property="x => x.TransactionDate" />
        <PropertyColumn Property="x => x.Type" />
        <PropertyColumn Property="x => x.Amount" Title="Amount">
            <CellTemplate Context="item">
                @CurrencyFormatter.ToPhp(item.Item.Amount)
            </CellTemplate>
        </PropertyColumn>
        <TemplateColumn  StickyRight="true">
            <CellTemplate Context="item">
                <MudIconButton Icon="@Icons.Material.Outlined.Edit" Size="@Size.Small" OnClick="()=> OpenEditDialog(item.Item)" />
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="GetCashTransactionDto" />
    </PagerContent>
</MudDataGrid>
@code 
{
    private IReadOnlyList<GetCashTransactionDto> _transactions { get; set; } = new List<GetCashTransactionDto>();
    private bool _loading;
    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        var _transactionResult = await _transactionService.GetAllCashTransactionsAsync(CurrentUser.CurrentAccountId);
        if (_transactionResult.IsSuccess && _transactionResult.Data is not null)
        {
            _transactions = _transactionResult.Data;
        }
        _loading = false;
    }
    private async Task OpenAddDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth=true, MaxWidth=MaxWidth.Large };

        var transactionDialog = await DialogService.ShowAsync<AddCashTransaction>("Add Cash Transaction", options);

        var result = await transactionDialog.Result;

        if (result.Canceled)
            return;

        await OnInitializedAsync();

    }
    private async Task OpenEditDialog(GetCashTransactionDto transactionDto)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, FullWidth = true, MaxWidth = MaxWidth.Large };
        var dialogParameter = new DialogParameters
        {
            ["Id"] = transactionDto.Id    
        };

        var transactionDialog = await DialogService.ShowAsync<EditCashTransaction>("Edit Cash Transaction", dialogParameter, options);

        var result = await transactionDialog.Result;

        if (result.Canceled)
            return;

        await OnInitializedAsync();
    }
}
